:root {
  --white-color: #fff;
  --blue-color: #2652b2;
  --dark-blue-color: #1c2339;
  --dark-grey-color: #222;
  --gold-color: #ab9059;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--white-color);
  background: var(--blue-color);
  font-size: 1.2rem;
  font-family: Lucida Grande, sans-serif;
  line-height: 1.5;
  font-weight: 200;
}

.section {
  padding: 2rem;
}

.white_section {
  color: var(--dark-grey-color);
  background: var(--white-color);
  overflow: hidden;
}
